button,
.button {
    color: #fff;
    border: 1px solid darken($green, 10%);
    padding: 14px 12px;
    background-color: $green;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.8s;

    &:hover {
        background-color: darken($green, 5%);
        border: 1px solid darken($green, 15%);
        transition: all 0.4s;
    }

    &.hollow {
        color: $green;
        border: 1px solid $green;
        background-color: transparent;
        transition: all 0.8s;

        &:hover {
            color: lighten($green, 10%);
            border: 1px solid lighten($green, 10%);
            background-color: rgba($green, 0.2);
            transition: all 0.4s;
        }

        &.pink {
            color: $pink;
            background-color: transparent;
            border: 1px solid $pink;

            &:hover {
                border: 1px solid darken($pink, 10%);
                background-color: rgba($pink, 0.2);
            }
        }
    }

    &.pink {
        background-color: $pink;
        border: 1px solid darken($pink, 10%);

        &:hover {
            background-color: darken($pink, 5%);
            border: 1px solid darken($pink, 15%);
        }
    }
}