.db {
    display: block;
}

.di {
    display: inline;
}

.dib {
    display: inline-block;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
    max-width: 100%;
}

.flex-column {
    flex-direction: column;
}

.content-center {
    align-content: center;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.screen-width {
    width: 100vw;
}

.screen-height {
    height: 100vh;
}

/**
 *
 * Margins
 *
 */
.m-0 { margin: 0; }
.m-1 { margin: $margin/2; }
.m-2 { margin: $margin; }
.m-3 { margin: $margin*2; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: $margin/2; }
.mb-2 { margin-bottom: $margin; }
.mb-3 { margin-bottom: $margin*2; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: $margin/2; }
.mt-2 { margin-top: $margin; }
.mt-3 { margin-top: $margin*2; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: $margin/2; }
.ml-2 { margin-left: $margin; }
.ml-3 { margin-left: $margin*2; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: $margin/2; }
.mr-2 { margin-right: $margin; }
.mr-3 { margin-right: $margin*2; }

/**
 *
 * Padding
 *
 */
.p-0 { padding: $padding; }
.p-1 { padding: $padding/2; }
.p-2 { padding: $padding; }
.p-3 { padding: $padding*2; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: $padding/2; }
.pb-2 { padding-bottom: $padding; }
.pb-3 { padding-bottom: $padding*2; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: $padding/2; }
.pt-2 { padding-top: $padding; }
.pt-3 { padding-top: $padding*2; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: $padding/2; }
.pl-2 { padding-left: $padding; }
.pl-3 { padding-left: $padding*2; }

.pr-0 { padding-right: 0; }
.pr-1 { padding-right: $padding/2; }
.pr-2 { padding-right: $padding; }
.pr-2 { padding-right: $padding*2; }