/**
 *
 * Colors
 *
 */
$primary-color: #17D485;
$secondary-color: #30294e;
$white: #ffffff;
$offwhite: #fafafa;
$light-gray: #ededed;
$medium-gray: #808080;
$dark-gray: #323232;
$black: #404040;

/**
 *
 * Spacing
 *
 */
 $margin: 15px;
 $padding: 15px;