/**
 *
 * Colors
 *
 */
$green: #17D485;
$purple: #30294e;
$pink: #ff1975;
$white: #ffffff;
$offwhite: #e9e7f2;
$light-gray: #ededed;
$medium-gray: #808080;
$dark-gray: #323232;
$black: #404040;

/**
 *
 * Spacing
 *
 */
 $margin: 15px;
 $padding: 15px;